<div class="text-center">
  <h2>{{name}}</h2>
  <img src={{imgUrl}}>
  <p>{{details}}</p>
  <p>Type of Cuisine: {{category}}</p>
  <p>Cook Time: {{cookTime}} min.</p>
  <p>Prep Time: {{prepTime}} min.</p>
  <p>Marinade Time: {{marinadeTime}} min.</p>
  <p>Servings: {{servings}}</p>
  <p>INGREDIENTS: {{{ingredientsHtml}}}</p>
  <p>INSTRUCTIONS: {{{instructions}}}</p>
  <p>Notes: {{{notes}}}</p>
</div>
